.claimed{
    width: 100%;
    background-color: #FFFFFF;
}

.claimed .row{
    width: 100%;
    padding-top: 2rem;
    margin: 0;
    height: 612px;
    padding-top:2rem;
    padding-left:2rem;
}

.unclaimed .row table{
    width: 100%;
}

.unclaimed p{
    font-family: 宋体;
    font-size: 2rem;
}

.claimed .row table tr td{
    display: inline-block;
    height: 7vh;
    border: 1px solid #CAF2FF;
    float: left;
    font-size: 2rem;
    font-weight: initial;
    font-family: 楷体;
}

.claimed .claimed_content td{
    padding-top: 0.5rem;
    font-size: 1.5rem!important;
}

.claimed .claimed_page p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px!important;
    line-height: 1.42857143;
}

.claimed .claimed_page a:hover {
    color: #cc3300;
}