.adminlogon{
    width: 50vw;
    height: auto;
    margin: 5rem auto 0;
}

.adminlogon .row{
    margin: 0;
}

.adminlogon .adminlogon_image01{
    display: inline-block;
    width: 315px;
    height: 301px;
    background: url("images/admin_logon_01.png") no-repeat;
}

.adminlogon .adminlogon_image01 h3{
    display: inline-block;
    font-family: 宋体;
    color: #FFFFFF;
    margin-top: 17rem;
    margin-left: 11rem;
}

.adminlogon .adminlogon_image02{
    display: inline-block;
    width: 208px;
    height: 301px;
    margin: -0.4rem;
    background: url("images/admin_logon_02.png") no-repeat;
}

.adminlogon .adminlogon_content{
    width: 90%;
    margin: auto auto;
}

.adminlogon .adminlogon_content td{
    display: inline-block;
    font-size: 1.4rem;
    color: #007AB5;
    font-family: 楷体;
    margin-top: 0.5rem;
}

.adminlogon .adminlogon_content .welcom img{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.adminlogon .adminlogon_content td input{
    background: url(images/admin_logon_input.png) repeat-x;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #27B3FE;
    height: 2rem;
    width: 15rem;
    background-color: #FFFFFF;
}

.adminlogon .adminlogon_content .button input{
    display: inline-block;
    width: 85px;
    height: 29px;
    background: url("images/admin_logon_button.png") no-repeat;
    border: none;
}

.adminlogon .adminlogon_image03{
    display: inline-block;
    width: 158px;
    height: 301px;
    background: url("images/admin_logon_03.png") no-repeat;
}

.adminlogon .adminlogon_image04{
    display: inline-block;
    width: 681px;
    height: 119px;
    background: url("images/admin_logon_04.png") no-repeat;
}
